.MovieCard {
    box-shadow: 0 0 1rem black;
    padding: 1rem;
}

.MovieCard img {
    height: 300px;
}

.MovieCard h3 {
    font-size: 18px;
    font-weight: bold;
    font-style: italic;
}

.movieInfo {
    margin-top: 1rem;
}

.movie_details_link {
    color: green;
}

.buttonsDiv {
    display: flex;
    justify-content: space-between;
}

.buttonsDiv button {
    background-color: teal;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
}