.moviesContainer {
    width: 80vw;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.filtersDiv {
   margin: 20px;
}

.filtersDiv select {
    margin: 0px 20px;
    color: black;
}

@media only screen and (max-width: 480px) {
    .moviesContainer {
        grid-template-columns: repeat(1, 1fr);
    }
}


@media only screen and (min-width: 481px) and (max-width: 768px) {
    .moviesContainer {
        grid-template-columns: repeat(2, 1fr);
    }
}